/*
*-------------------------------------------------------
* Widget / Finger  Print
*-------------------------------------------------------
*/

.finger-print{
  text-align: center;
  .finger-print_image{
    overflow: hidden;
    svg{
      width: 100%;
      height: 100%;
      object-fit: contain;
      fill: none;
      stroke: $text_primary;
      stroke-width:2;
      stroke-miterlimit:10;
      animation: dash 6s cubic-bezier(0.7, 0.3, 0.5, 1.0) alternate infinite;
    }
  }
}

@include keyframes(dash){
  0% {
    stroke-dasharray: 0;
  }
  30% {
    stroke-dasharray: 150;
  }
  60% {
    stroke-dasharray: 150;
  }
  100% {
    stroke-dasharray: 0;
  }
}
