<!-- templates/index.html -->
<html>
<head>
    {#    <meta http-equiv="refresh" content="60; URL={{ url_for('index') }}">#}
    <title>Attendance Machine</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<a href="{{ url_for('settings') }}">
    <button type="button" class="btn">Settings</button>
</a>

<div id="message"></div>

<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/socket.js"></script>

<script src="/js/index-page-handler.js"></script>
</body>
</html>