<!doctype html>
<html xmlns:font-weight="http://www.w3.org/1999/xhtml" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>User Define</title>
    <style>

.form-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    </style>
</head>
<body>
<a href="{{ url_for('index') }}"><button type="button" class="btn">Home</button></a><br><br>
<a href="{{ url_for('settings') }}"><button type="button" class="btn">Settings</button></a>


<div class="form-container">
<form action="{{ url_for('user_define') }}" method='post'>
    <fieldset>
        <legend>User Define Form</legend>
        {{ form.hidden_tag() }}

        <div style=font-size:20px; font-weight:bold; margin-left:150px;>
            {{ form.first_name.label }}<br>
            {{ form.first_name }}
            <br>
            {{ form.last_name.label }}<br>
            {{ form.last_name }}
            <br>
            {{ form.code_melli.label }}<br>
            {{ form.code_melli }}
            <br><br>
            {{ form.submit(class_="btn btn-success") }}
        </div>

    </fieldset>
</form>
</div>

<br><br>

{#------------------------#}
{# Form validation errors #}
{#------------------------#}
{% for message in form.first_name.errors %}
    <div>{{ message }}</div>
{% endfor %}

{% for message in form.last_name.errors %}
    <div>{{ message }}</div>
{% endfor %}

{% for message in form.code_melli.errors %}
    <div>{{ message }}</div>
{% endfor %}


{#------------------------#}
{# Flash messages         #}
{#------------------------#}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}


</body>
</html>
