<!-- templates/index-temp.html -->
<html>
<head>
    {#    <meta http-equiv="refresh" content="60; URL={{ url_for('index') }}">#} {# TODO: (ASK) Does it need to be refreshed? #}
    <title>Attendance Machine</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<a href="{{ url_for('index') }}"><button type="button" class="btn">Home</button></a><br><br>
<a href="{{ url_for('settings') }}"><button type="button" class="btn">Settings</button></a>


<script>

    function draw_users_table() {
        $.ajax({
        url: {{ url_for('users_table_drawer') }},
        method: 'post'
    }).done()
    }

    draw_users_table();

</script>


</body>
</html>